*{
    margin: 10px;
}
body{
    height: 100%;
    width: 100%;
    background-image: url("https://img.freepik.com/free-vector/blue-white-gradient-abstract-background_53876-60241.jpg?w=2000");
}
nav{
    float: right;
    position: relative;
    right: 150px;
    top: 20px;
}
nav a{
    text-decoration: none;
    font-family: 'Nunito', Courier, monospace;
    font-weight: bolder;
    text-transform: uppercase;
    color: darkslateblue;
    letter-spacing: 1px;
    padding: 5px;  
    transition: top 2s linear;
}
nav a:hover{
    cursor: pointer;
    color: darkred;
    position: relative;
    top: -2px;
}
.content{
    display: flex;
}
.content img{
    margin: 0px;
    mix-blend-mode: darken;
}
.name{
    margin: 0px;
    position: relative;
    top: 45px;
    right: 10px;
    font-size: xx-large;
    font-family: 'Monotype Corsiva', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
    color: crimson;
}
.profile{
    float: right;
    position: relative;
    right: 200px;
    height: 550px;
    border-radius: 20% 10%;
    transition:2s linear;
}
.profile:hover{
    right: 50px;
    cursor: pointer;
}
.details{
    position: relative;
    top: 200px;
    margin-left: 100px;
}
.details p{
    font-size: large;
}
h1.cin{
    text-transform: capitalize;
    font-family:'Roboto Slab', Courier, monospace;
    color: darkblue;
}
h1.web{
    text-transform: uppercase;
    font-size: 300%;
    font-family: 'Space Grotesk', Courier, monospace;
    color: indigo;
}
input[type="button"]{
    width: 153px;
    padding: 15px 30px;
    border: none;
    background-color: darkslategray;
    color: white;
    opacity: 0.8;
    border-radius: 5px;
    text-align: center;
    font-size: medium;
}
input[type="button"]:hover{
    cursor: pointer;
    opacity: 1;
}
ul{
    display: flex;
    padding: 0px;
    margin-left: 0px;
}
ul li{
    margin-left: 0px;
    list-style-type: none;
    font-size: 2em;
    color: black;
    transition: 0.5s;
}
ul li:hover{
    cursor: pointer;
    transform: translateY(-10px);
}
@media all and (min-width:600px) and (max-width:1000px) {
    .profile{
        right: 30px;
    }
}
@media all and (min-width:300px) and (max-width:599px) {
    .profile{
        right: 10px;
    }
    .content{
        clear: both;
    }
}
